

<div class="jumbotron jumbotron-fluid marginBtm50">
  <div class="container">
    <h1 class="display-3 white">Here2Share</h1>
    <p class="lead intro">a online platform to connect users who would like to loan their personal items to customers </p>
  </div>
</div>


<main>


    <section class="container categories marginBtm50">
        <h2>Categories</h2>
        <section class="container allCategories">
            {{#each category}} {{!--
            <p class="royalblue-gradient-bg shadow">{{name}}</p> --}}
            <a href="/shop/{{id}}" class="badge badge-warning">{{name}}</a>
            {{/each}}
        </section>



    </section>


    <section class="container Popular marginBtm50">
        <h2>Popular</h2>
       
        <section class="container products">
            <div class="row">
            {{#each popular}}
            <div class="card marginBtm10 marginRt10" style="width: 20rem;">
                <img class="card-img-top productImg" src="{{productImage}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">${{price}} per day</p>

                    {{#if isAvailable}}
                <p class="text-center red font20">Product is not Available <i class="fa fa-frown-o" aria-hidden="true"></i></p>
                    
                {{else}}
                    {{!-- <p class="text-center lightgreen">Product is Available</p> --}}
                    <a href="#" class="btn btn-success">Rent Me</a>
                {{/if}}
                    
                </div>
            </div>
            {{/each}}
            </div>
        </section>
    </section>

    <section class="container Appliances marginBtm50">
        <h2>Appliances</h2>
        <a href="/shop/appliances">See All</a>
           <section class="container products">
            <div class="row">
            {{#each appliance}}
            <div class="card marginBtm10 marginRt10" style="width: 20rem;">
                <img class="card-img-top productImg" src="{{productImage}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">${{price}} per day</p>
                    
                       {{#if isAvailable}}
                <p class="text-center red font20">Product is not Available <i class="fa fa-frown-o" aria-hidden="true"></i></p>
                    
                {{else}}
                    {{!-- <p class="text-center lightgreen">Product is Available</p> --}}
                    <a href="#" class="btn btn-success">Rent Me</a>
                {{/if}}
                    
                </div>
            </div>
            {{/each}}
            </div>
        </section>
        </section>
    </section>



    <section class="jewelry container marginBtm50">
        <h2>Jewelry</h2>
          <section class="container products">
            <div class="row">
            {{#each jewelry}}
            <div class="card marginBtm10 marginRt10" style="width: 20rem;">
                <img class="card-img-top productImg" src="{{productImage}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">${{price}} per day</p>
                    
                       {{#if isAvailable}}
                <p class="text-center red marginTp10 font20">Product is not Available <i class="fa fa-frown-o" aria-hidden="true"></i></p>
                    
                {{else}}
                    {{!-- <p class="text-center lightgreen">Product is Available</p> --}}
                    <a href="#" class="btn btn-success">Rent Me</a>
                {{/if}}
                    
                </div>
            </div>
            {{/each}}
            </div>
        </section>
        </section>
    </section>
</main>